A.splCont:link, A.splCont2:link, A.zakaz:link, A.search_button:link, A.want:link{text-decoration: none}
A.splCont:visited, A.splCont2:visited, A.zakaz:visited, A.search_button:visited, A.want:visited {text-decoration: none}
A.splCont:active, A.splCont2:active, A.zakaz:active, A.search_button:active, A.want:active {text-decoration: none}
A.splCont:hover, A.splCont2:hover, A.zakaz:hover, A.search_button:hover, A.want:hover {text-decoration: none}
H1 {font: 28px Georgia;}
H2 {font: 24px Georgia; color: #E4211B; text-decoration: underline; padding-top: 10px;}
H4 {font: 18px Georgia; color: #E4211B;}
TR.shap {font: bold 12px Arial; color: #266bab; background-color: #e7f5fe}
#green {color: #097904}
TR.g {background-color: #f1faf9}
TR.w {background-color: #fefefc}
TD.No {background-color: #06B9FC; text-align: center; color: white;}
TD.place {background-color: #BCEBFB}
TD.a {text-align: center}
TD.z {text-align: center; color: #00a3e0}
TD.z, TD.a, TD.s {width: 62px}
TD.k {width: 192px; padding-left: 20px}
.ram {border: 1px solid e2e2e2; padding: 18px; padding-top:1px;}
.y {padding-top: 20px}
DIV.zakaz {width: 162px; height: 34px; background:url(../images/button_z.png) right top no-repeat;}
B.zakaz {float: right; margin-top: 6px; margin-right: 10px; color: white; text-shadow: grey 1px 1px}
DIV.search_fon {background:url(../images/fon_search.png); width: 444px; height: 93px;}
DIV.search_button {background:url(../images/button_search.png); width: 79px; height: 25px;}
DIV.sub_search_fon {padding-top: 15px;}
B.search_button {float: right; margin-top: 3px; margin-right: 15px; color: black; text-shadow: white 1px 1px}
DIV.want {margin-left: 2px; margin-top: 25px; width: 347px; height: 37px; background:url(../images/button_want.png) right top no-repeat;}
B.want {float: right; margin-top: 6px; margin-right: 25px; color: black; text-shadow: white 1px 1px; font: 17px Arial;}
P {font: 12px Arial;}
P.info {font: 12px Arial; color: #ACACAA}
P.c {font: 18px Arial;}
P.number {font: 22px Arial; margin-left: 20px;}
P.title {padding-left: 5px;}
P.desc {padding-top: 1px}
P.download {font: 12px Arial; color: #266bab; text-decoration: underline;}
A.mail {font: 22px Arial; color: #266bab}
TABLE.btable {font-family: Arial; font-size: 12px; border: 1px solid #ededed;}
TABLE.rtable {font-family: Arial; font-size: 12px; border: 1px solid #ededed; margin-top: 30px}
TABLE.edfg {padding-top: 20px}
TABLE.abc {padding-top: 20px}
B.up {border: 1px solid #05b9fc; padding: 16px; padding-top: 5px; padding-bottom: 5px; background-color: #05b9fc; color: white;}
DIV.roll {font: 14px Arial; padding-left: 15px; padding-top: 17px}
.splCont{display:none; padding-top: 20px}
.splCont2{display:none}