/*----------------------------------------------------Table Cells And Backgrounds------------------------------------------------ */

/* Table Header, Reply Form Header, BBCode Icons Highlighting */
table.forum-table th, div.forum-reply-header,
div.forum-bbcode-line a:hover, div.forum-bbcode-line a:hover img { background-color: #d0f5ff; }

/* Table Cell Border */
table.forum-table td, 
table.forum-table th.forum-column-lastpost, 
table.forum-table th.forum-column-title, 
table.forum-table th.forum-first-column,
table.forum-table th.forum-last-column,
div.forum-info-box, 
div.forum-reply-form { border-color: #f0d7d7;}

/* Table Cell, Info Box, Reply Form */
table.forum-table td, div.forum-info-box, div.forum-reply-form { background: #fffdea; }

/* Hidden Table Cell and Row */
table.forum-table tr.forum-row-hidden td, 
table.forum-table td.forum-cell-hidden,
table.forum-table tr.forum-row-inactive td.forum-column-icon,
table.forum-post-hidden td.forum-cell-post, 
table.forum-post-hidden td.forum-cell-actions { background: #fdffd3 !important; }

/* Selected (via checkbox) Table Cell and Row */
table.forum-table tr.forum-row-selected td, 
table.forum-table td.forum-cell-selected, 
table.forum-post-selected td.forum-cell-post, 
table.forum-post-selected td.forum-cell-actions { background: #ecd0d0 !important; }

/* Table Footer and Alone Footer Box */
table.forum-table td.forum-column-footer, table.forum-post-table td.forum-column-footer, div.forum-footer-box { background: #f0d7d7; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact { background: #f8ebeb; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { background: #fefbfb; }

div.forum-post-date { background: #f6e8e8; border-bottom-color: #eccece; }


/* ---------------------------------------------------Borders----------------------------------------------------- */

/* Menu Items, Page Navigation */
span.forum-menu-item, div.forum-page-navigation a, span.forum-page-current, div.forum-page-navigation a.forum-page-previous, span.forum-page-dots { border-color: #efd5d5; }

/* First Row Cell */
table.forum-table tr.forum-row-first td { border-top-color: #e5b9b9;}

/* Last Row Cell */
table.forum-table tr.forum-row-last td { border-bottom-color: #e5b9b9; }

/* Table Footer and Alone Footer Box */
table.forum-table td.forum-column-footer, table.forum-post-table td.forum-column-footer, div.forum-footer-box { border-color: #e5b9b9; }

/* Footer Item Separator */
span.forum-footer-option { border-color: #d99a9a; }

/* Topic posts table (separator line) */
table.forum-post-table { border-top-color: #fff; border-bottom-color: #ccc; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact { border-left-color: #ebcaca; border-right-color: #eccece; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { border-right-color: #ebcaca; }

/* Post Table: User Contacts and Actions Cell */
table.forum-post-table td.forum-cell-contact, table.forum-post-table td.forum-cell-actions { border-top-color: #eccece; }

/* User Signature*/
div.forum-signature-line { border-top-color: #eccece; }

/* ---------------------------------------------------Text Color-------------------------------------------------- */

/* Header Box Right Links*/
div.forum-header-box a:link, 
div.forum-header-box a:visited, 
div.forum-header-box a:active, 
div.forum-header-box a:hover { color: #fff; }

.forum-required-field { color: red; }

/* --------------------------------------------------Special Elements---------------------------------------------- */

div.forum-header-box { color: #000; background:#ffdc41; border-color: #c14242;}

/* Page navigation */
div.forum-navigation-box { background:#fff; border-color: #f0d7d7; }

/*BBCode: Quote and Code*/
table.forum-quote, table.forum-spoiler, table.forum-code, div.forum-code-box {  border-color: #e4b7b7; }
table.forum-quote td, table.forum-spoiler td, table.forum-code td, div.forum-code-box ol {background:#fff !important; color:#6a6a69;}
table.forum-quote th, table.forum-spoiler th, table.forum-code th, div.forum-code-box {background:#f3dfe0 !important; color:#665f5f;}

div.forum-note-box {border-color: #ffc75c; background: #fffcb3; }
/* --------------------------------------------------Icons---------------------------------------------- */
div.forum-icon-default { background-image: url(images/default.gif); }
div.forum-icon-newposts { background-image: url(images/newposts.gif); }
div.forum-icon-sticky { background-image: url(images/sticky.gif); }
div.forum-icon-sticky-newposts { background-image: url(images/sticky-newposts.gif); }
div.forum-icon-closed, div.forum-icon-sticky-closed { background-image: url(images/closed.gif); }
div.forum-icon-closed-newposts, div.forum-icon-sticky-closed-newposts { background-image: url(images/closed-newposts.gif); }
div.forum-icon-moved { background-image: url(images/moved.gif); }
/* --------------------------------------------------Votes---------------------------------------------- */
div.vote-answer-item-bar-inner {background-color:#f0d7d7;}