/*----------------------------------------------------Table Cells And Backgrounds------------------------------------------------ */

/* Table Header, Reply Form Header, BBCode Icons Highlighting */
table.forum-table th, div.forum-reply-header,
div.forum-bbcode-line a:hover, div.forum-bbcode-line a:hover img { background-color: #d0f5ff; }

/* Table Cell Border */
table.forum-table td, 
table.forum-table th.forum-column-lastpost, 
table.forum-table th.forum-column-title, 
table.forum-table th.forum-first-column,
table.forum-table th.forum-last-column,
div.forum-info-box, 
div.forum-reply-form { border-color: #ededed;}

/* Table Cell, Info Box, Reply Form */
table.forum-table td, div.forum-info-box, div.forum-reply-form { background: #fffdea; }
table.forum-table td {background:none;}
/* Hidden Table Cell and Row */
table.forum-table tr.forum-row-hidden td, 
table.forum-table td.forum-cell-hidden,
table.forum-table tr.forum-row-inactive td.forum-column-icon,
table.forum-post-hidden td.forum-cell-post, 
table.forum-post-hidden td.forum-cell-actions { background: #fdffd3 !important; }

/* Selected (via checkbox) Table Cell and Row */
table.forum-table tr.forum-row-selected td, 
table.forum-table td.forum-cell-selected, 
table.forum-post-selected td.forum-cell-post, 
table.forum-post-selected td.forum-cell-actions { background: #ecd0d0 !important; }

/* Table Footer and Alone Footer Box */
table.forum-table td.forum-column-footer, table.forum-post-table td.forum-column-footer, div.forum-footer-box { background: #f0d7d7; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user { background: #fff; }
table.forum-post-table td.forum-cell-contact { background: #fffceb; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post{ background: #fff; }
table.forum-post-table td.forum-cell-actions { background: #fffceb; }

div.forum-post-date { background: url("images/head-back.jpg") repeat-x scroll 0 0 transparent; height:17px; border-bottom-color: #ededed01.10.2012; }

/* ---------------------------------------------------Borders----------------------------------------------------- */

/* Menu Items, Page Navigation */
span.forum-menu-item, div.forum-page-navigation a, span.forum-page-current, div.forum-page-navigation a.forum-page-previous, span.forum-page-dots {border:none;}

/* First Row Cell */
table.forum-table tr.forum-row-first td { border-top-color: #ededed;}

/* Last Row Cell */
table.forum-table tr.forum-row-last td { border-bottom-color: #ededed; }

/* Table Footer and Alone Footer Box */
table.forum-table td.forum-column-footer, table.forum-post-table td.forum-column-footer, div.forum-footer-box { border-color: #ededed; }

/* Footer Item Separator */
span.forum-footer-option { border-color: #d99a9a; }

/* Topic posts table (separator line) */
table.forum-post-table { border-top-color: #fff; border-bottom-color: #ccc; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact { border-left-color: #ededed; border-right-color: #ededed; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { border-right-color: #ededed; }

/* Post Table: User Contacts and Actions Cell */
table.forum-post-table td.forum-cell-contact, table.forum-post-table td.forum-cell-actions { border-top-color: #ededed; }

/* User Signature*/
div.forum-signature-line { border-top-color: #ededed; }

table.forum-post-table td.forum-cell-contact, table.forum-post-table td.forum-cell-actions {
    border-top-style: solid;
    border-top-width: 1px;
}
/* ---------------------------------------------------Text Color-------------------------------------------------- */

/* Header Box Right Links*/
div.forum-header-box a:link, 
div.forum-header-box a:visited, 
div.forum-header-box a:active, 
div.forum-header-box a:hover { color: #fff; }

.forum-required-field { color: red; }

/* --------------------------------------------------Special Elements---------------------------------------------- */

div.forum-header-box { color: #000; background:#ffdc41; border:none; font-weight: bold;}
div.forum-header-box a{ color: #000 !important; font-weight: bold;}

/* Page navigation */
div.forum-navigation-box { background:#fff; border-color: #f0d7d7; }

/*BBCode: Quote and Code*/
table.forum-quote, table.forum-spoiler, table.forum-code, div.forum-code-box {  border-color: #e4b7b7; }
table.forum-quote td, table.forum-spoiler td, table.forum-code td, div.forum-code-box ol {background:#fff !important; color:#6a6a69;}
table.forum-quote th, table.forum-spoiler th, table.forum-code th, div.forum-code-box {background:#f3dfe0 !important; color:#665f5f;}

div.forum-note-box {border-color: #ffc75c; background: #fffcb3; }
/* --------------------------------------------------Icons---------------------------------------------- */
div.forum-icon-default { background-image: url(images/default.png); }
div.forum-icon-newposts { background-image: url(images/newposts.png); }
div.forum-icon-sticky { background-image: url(images/sticky.png); }
div.forum-icon-sticky-newposts { background-image: url(images/sticky.png); }
div.forum-icon-closed, div.forum-icon-sticky-closed { background-image: url(images/closed.png); }
div.forum-icon-closed-newposts, div.forum-icon-sticky-closed-newposts { background-image: url(images/closed.png); }
div.forum-icon-moved { background-image: url(images/moved.png); }
/* --------------------------------------------------Votes---------------------------------------------- */
div.vote-answer-item-bar-inner {background-color:#f0d7d7;}


/* forum menu top */
span.forum-menu-item-first {background: url(images/first.jpg) no-repeat ; padding:5px; height:21px; float:left;}
span.forum-menu-item {padding:5px; height:21px; float:left;}
.forum-menu-box div.forum-info-box-inner {background: url(images/last.jpg) no-repeat right center; width:100%; height: 31px;}
div.forum-menu-box {background: url("images/back.jpg") repeat-x scroll 0 0 transparent;
    float: left;
    height: 31px;
    list-style: none outside none;
    padding: 0;
    width: 100%;
	border:none;
	}


/* table.forum-table th */
table.forum-table th {background: url("images/head-back.jpg") repeat-x scroll 0 0 transparent; height:17px; border-color:#ededed;}
table.forum-table tfoot td {background: url("images/head-back.jpg") repeat-x scroll 0 0 transparent !important; height:17px; border-color:#ededed;}


/*navigation */
.forum-navigation-box{background-color:#f5f5f5 !important; padding:7px 18px 6px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; overflow:hidden; position:relative; border: 1px solid #E2E2E2 !important;}
	.forum-navigation-box .show_col{float:right;}
	.forum-navigation-box .meta{ float:none; padding-right:4px;}
	.forum-navigation-box .show_col select{width:46px; height:19px; font-size:12px; border-top:1px solid #aaaaaa; border-right:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; border-left:1px solid #aaaaaa; position:relative; top:0;}
	.forum-navigation-box .pg_nav{padding-top:2px; float:left;}
	.forum-navigation-box ul{ margin:0; padding:0; list-style:none; display:inline-block; vertical-align:top;}
	.forum-navigation-box li{ float:left; margin:0; padding:0 5px; line-height:19px; height:19px;}
	.forum-navigation-box li a{color:#000; text-decoration:none;}
	.forum-navigation-box li a:hover{color:#e3231b; text-decoration:underline;}
	.forum-navigation-box li.sel{width:30px; padding:0 2px; position:relative;} 
        .forum-navigation-box li input{position: absolute; top:1px; text-align:center; color:#000; width:28px; padding:0; margin:0; border-color:#da251d !important;}
	.forum-navigation-box li input:focus{border-color:#da251d;}
	.forum-navigation-box li span{}
	.forum-navigation-box .sub_search{ float:right; padding-left:20px;}
	.forum-navigation-box .sub_search span{ padding-top:2px; display:inline-block;}
	.forum-navigation-box .sub_search .input_box{float:left;}
	.forum-navigation-box .sub_search .input_box input[type="text"]{ width:217px;}

.forum-navigation-bottom{border-radius:0 0 5px 5px !important; -moz-border-radius:0 0 5px 5px !important; -o-border-radius:0 0 5px 5px !important; -webkit-border-radius:0 0 5px 5px !important;}
.forum-navigation-top{border-radius:5px 5px 0 0 !important; -moz-border-radius:5px 5px 0 0 !important; -o-border-radius:5px 5px 0 0 !important; -webkit-border-radius:5px 5px 0 0  !important;}


/*info */
.forum-info-box{background-color:#fff !important; padding:7px 18px 6px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; overflow:hidden; position:relative; border: 1px solid #E2E2E2 !important;}

table.forum-post-table .forum-column-footer{background:#FFFCEB !important; }